* {
  background-color: rgb(210, 210, 234);
  margin-left: 2rem;

}
table {
  border: 1;
}
table,
th,
tr {
  border: 1px solid whitesmoke;
}
input {
  background-color: aliceblue;
  border-radius: 1.5rem;

  margin: 2px;
}
button {
  background-color: rgb(76, 76, 250);
  color: white;
  border-radius: 8px;
  margin-top: 3px;
}
.main {
  display: flex;
  flex-direction: row;
 
}
.left, input,h2,label,form{
 background-color: rgb(33, 33, 226);
 margin-left: 0%;
}
