*{
    background-color: rgb(210, 210, 234);
    margin-left: 2rem;
}
table{
    border: 1;
    
}
table,th,tr{
    border: 1px solid whitesmoke;
}
input{
    background-color: aliceblue;
    border-radius: 1.5rem;
}
button{
    background-color: rgb(76, 76, 250);
    color: white;
}